* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
}

.navbar {
  height: 15vh;
  width: 100vw;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bold {
  font-weight: bold !important;
}

.bridge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bridge-title {
  font-weight: bold;
  margin-top: 50px;
  font-size: 2.75em;
}

.connect-wallet {
  margin: 35px 0 40px;
}

.personal-stats {
  margin-bottom: 25px;
}

.user-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.add-to-metamask {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.add-eth-usdc-to-mm {
  margin-right: 20px;
}

.switch-chain {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.switch-to-eth {
  margin-right: 20px;
}

.bridge-stats {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.bridge {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 65px;
}

.bridge-subtitle {
  margin-bottom: 25px;
}

input[type='number'],
.claim-amount {
  margin: 20px 0 20px;
}

.faucet {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 70px;
}

.faucet-subtitle {
  font-size: 1.65em;
}

.description {
  margin-top: 10px;
  font-size: 1.1em;
}
